<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
<head>
<title> Ruby on rails | <%= yield(:title) %> </title>
</head>
<body>
<h1>Sample app</h1>
<p>Find me in app/views/static_pages/home.html.erb

</p>


</body>
</html>
